* Pandas is a newer package built on top of NumPy,
* Provides an efficient implementation of a DataFrame. 
* DataFrames are essentially multidimensional arrays with attached row and column labels, and often with heterogeneous types 
* Pandas implements a number of powerful data operations familiar to users of both database frameworks and spreadsheet programs.
* Series, DataFrame, Index, TimeSeries

##### Panda Series
* One dimensional array of indexed data

In [1]:
import pandas as pd

In [4]:
ser1 = pd.Series([11,2,5,9])

In [5]:
ser1.values

array([11,  2,  5,  9], dtype=int64)

In [6]:
ser1.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
ser1

0    11
1     2
2     5
3     9
dtype: int64

In [8]:
ser1[1]

2

In [9]:
ser1 = pd.Series([11,2,5,9] , index=[7,8,9,10])

In [10]:
ser1

7     11
8      2
9      5
10     9
dtype: int64

In [11]:
ser1[7]

11

In [12]:
ser1 = pd.Series([11,2,5,9] , index=['a','b','c','d'])

In [13]:
ser1

a    11
b     2
c     5
d     9
dtype: int64

In [14]:
ser1['a']

11

In [15]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}

In [16]:
population_dict

{'California': 38332521,
 'Florida': 19552860,
 'Illinois': 12882135,
 'New York': 19651127,
 'Texas': 26448193}

In [19]:
# Convert dictionary to series
population = pd.Series(population_dict)

In [20]:
population

California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448193
dtype: int64

In [21]:
population['California':'New York']

California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
dtype: int64

In [22]:
population = pd.Series(population_dict , index=['Illinois','New York'])

In [23]:
population

Illinois    12882135
New York    19651127
dtype: int64

##### DataFrame
* Collection of series
* This is analog to two-dimentional array

In [34]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)

In [35]:
area_dict = {'California': 423967, 
             
             'Illinois': 149995,
              'Texas': 695662, 
             'New York': 141297,
             'Florida': 170312}
area = pd.Series(area_dict)

In [38]:
# Creating dataframes using series
states = pd.DataFrame({'population':population, 'area':area})

In [43]:
import numpy as np
np.sum(states['area'].values)

1581233

In [40]:
states.index

Index(['California', 'Florida', 'Illinois', 'New York', 'Texas'], dtype='object')

In [44]:
states

              area  population
California  423967  38332521.0
Florida     170312  19552860.0
Illinois    149995  12882135.0
New York    141297         NaN
Texas       695662  26448193.0

In [47]:
states[['area']].sum()

area    1581233
dtype: int64

In [49]:
type(states['area'])

pandas.core.series.Series

In [50]:
type(states[['area']])

pandas.core.frame.DataFrame

In [53]:
states[['area','population']].sum()

area           1581233.0
population    97215709.0
dtype: float64